/*
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
*/
/* ur */


:root {
    /* основні шрифти */
    --main-font:'Roboto', sans-serif; 
    --secondary-font:'Raleway', sans-serif;
    /* кольори тексту */
    --primary-color: #212121;
    --accent-color: #2196F3;
    --color-text: #757575;
    --white-text: #ffffff;
    /* анімація */
    --animation:cubic-bezier(0.4, 0, 0.2, 1) ;
}
body {
    font-family:var(--main-font);
    font: size 14px;
    line-height: 1.71;
    letter-spacing: 0.03em; 
    color: #e5e5e5;
}
/* indexhtml*/

/*header indexhtml and portfolio */
.header-link{
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height:0.83;
    letter-spacing: 0.03em;
    color:black;
}
.header-link-txt {
    color: var(--accent-color);
}
.nav-list {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 14px;
    line-height:1.14;
    letter-spacing: 0.02em;
    color: var(--primary-color) ;
}
.nav-link {
    transition: color 250ms var(--animation);
}
.nav-link:hover,
.nav-link:focus
.nav-link {
color: var(--accent-color);
}
/* header contacts*/
.header-contacts {
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--color-text);
}
.header-mail {
    color: var(--color-text);
    transition: color 250ms var(--animation);
}
.header-phone {
    color: var(--color-text);
    transition: color 250ms var(--animation);
}

a {
    color: var(--primary-color);
}
.header-mail:hover, :focus {
color: var(--accent-color);
}
.header-phone:hover,:focus {
    color: var(--accent-color);
}
/* efectdecision */
.efectdecision {
    background-color:#2F303A ;
}
.efectdecision-title {
    font-family: var(--main-font);
    font-weight: 900;
    font-size: 44px;
    line-height:1.36;
    letter-spacing: 0.06em;

    color: var(--white-text);
}
.efectdecision-button {
font-family: var(--main-font);
font-size: 16px;
font-weight: 700;
line-height: 1.87;
letter-spacing: 0.06em;
text-align: center;
background-color: var(--accent-color);
    color: var(--white-text);
}
.efectdecision-button {
    cursor:pointer;
}

 


/* quality */
.quality-subtitle 
{
font-family: var(--main-font);
font-size: 14px;
font-weight: 700;
line-height: 1.14;
letter-spacing: 0.03em;
text-align: left;
color: var(--primary-color) ;
}
.quality-text 
{
font-family: var(--main-font);
font-size: 14px;
font-weight: 400;
line-height: 1.71;
letter-spacing: 0.03em;
text-align: left;
color: var(--color-text);
}
/* title */
.comand {
    background-color: #F5F4FA;
}
.secondtitle {
font-family: var(--main-font);
font-size: 36px;
font-weight: 700;
line-height: 1.16;
letter-spacing: 0.03em;
text-align: center;
color:var(--primary-color) ;
}
.secondtitle-comand {
        font-family: var(--main-font);
        font-size: 36px;
        font-weight: 700;
        line-height: 1.16;
        letter-spacing: 0.03em;
        text-align: center;
        color:var(--primary-color) ;
}
.comand-subtitle {
font-family:var(--main-font);
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.18;
letter-spacing: 0.03em;
text-align: center;
color: var(--primary-color);
}
.comand-text {
font-family: var(--main-font);
font-size: 16px;
font-weight: 400;
line-height: 1.17;
letter-spacing: 0.03em;
text-align: center;
color: var(--color-text);
}
.comand-image 
{
    background-image: url() ;
}
/* footer indexhtml and portfolio */
.footer {
    background-color: #2F303A;
    ;
}
.footer-address {
font-family:var(--main-font);
font-style: normal;
font-size: 14px;
font-weight: 400;
line-height: 1.71;
letter-spacing: 0.03em;
text-align: left;
color: var(--white-text);
}
.footer-link {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height:0.83;
    letter-spacing: 0.03em;
    color: var(--white-text);
}
.footer-txt {
    color: var(--accent-color);
}   
.footer-mail {
font-family:var(--main-font);
font-size: 14px;
font-weight: 400;
line-height: 1.71;
letter-spacing: 0.03em;
text-align: left;
color: rgba(255, 255, 255,0.6);
}
.footer-phone {
    font-family:var(--main-font);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-align: left;
    color: rgba(255, 255, 255,0.6);
}
a {
    text-decoration: none;
}
/* portfolio */
/* section-main */
.button-first{
font-family: var(--main-font);
font-size: 16px;
font-weight: 500;
line-height: 1.62;
letter-spacing: 0.03em;
text-align: center;
color: var(--primary-color);
background-color: #F5F4FA;
}
.button-scnd{
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--primary-color);
    background-color: #F5F4FA;
    }
.button-thd{
        font-family: var(--main-font);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.62;
        letter-spacing: 0.03em;
        text-align: center;
        color: var(--primary-color);
        background-color: #F5F4FA;
        }
.button-four{
        font-family: var(--main-font);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.62;
        letter-spacing: 0.03em;
        text-align: center;
        color: var(--primary-color);
        background-color: #F5F4FA;
        }
.button-five{
        font-family: var(--main-font);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.62;
        letter-spacing: 0.03em;
        text-align: center;
        color: var(--primary-color);
        background-color: #F5F4FA;
    }        

button:hover {
    background-color:var(--accent-color);
    color: var(--white-text);
}
.button:focus {
    background-color:var(--accent-color);
    color: var(--white-text);
}
.button {
    cursor:pointer;
    transition: color 250ms var(--animation), background-color 250ms var(--animation);
}
.main-title {
font-family: var(--main-font);
font-size: 18px;
font-weight: 700;
line-height: 2.0;
letter-spacing: 0.06em;
text-align: left;
color: var(--primary-color);
}
.main-text {
    font-family: var(--main-font);
font-size: 16px;
font-weight: 400;
line-height: 1.87;
letter-spacing: 0.03em;
text-align: left;
color:var(--color-text);
}
 .link-current {
    color: var(--accent-color);
    text-decoration: none;
 }
 .link-current:hover
 .link-current:focus

 /* контейнери */
 /* container-header */
 *,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
}
.container-header {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}
.container-headlink {
    display: flex;
}
.header-link {
    display: flex;
    align-items: center;
    padding: 24px 0px;
    margin-right: 93px;
}
.nav-list {
    display: flex;
    align-items: center;
    padding:0px;
    margin: 0px; 
}
.nav-link {
    display: flex;
    align-items: center;
    padding: 34px 0px;
    margin: 0px;
 }

.nav-item {
    display: block;
    margin-right: 50px;
}
.nav-item:last-child {
    margin-right: 0px;
}
.header-contacts {
    display: flex;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 32px;
}
.header-item:not(:last-child) {
    margin-right: 50px;
}
/* Эффективные решения */
.efectdecision 
{   padding-top:200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.efectdecision-title {
    margin: 0px auto;
    margin-bottom: 30px;
}
.efectdecision-button {
    min-width: 200px;
    padding: 10px 32px;
}
button {
    border: none;
    border-radius: 4px;
}
.efectdecision-title {
    width: 696px;
    height: 120px;
}
/* Качества */
.quality {    
    padding-top: 94px;
    padding-bottom: 94px;
}
.container-quality {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}
.quality-list {
    display: flex;
    margin: 0px;
    padding: 0px;
}
.quality-item {
    margin-right: 30px;
}
.quality-item:last-child {
    margin-right: 0px;
}
.quality-subtitle {
margin-bottom: 10px;
}
.quality-text {
    width: 270px;
    height: 75px;
    margin-bottom: 0px;
}
/* Чем мы занимаемся */
.whatwedo 
{
    display: flex;
    margin-bottom: 94px;   
}
.container-whatwedo {
    width: 1200px;    
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.secondtitle {
    margin-bottom: 50px;
}
.whatwedo-list {
    display: flex;
}
.whatwedo-list {
    margin:0px;
    padding: 0px;
}
.whatwedo-item {
    margin-right: 30px;
}
.whatwedo-item:last-child {
    margin-right:0px;
}
/* Наша команда */
.comand {
    padding-top: 94px;
    padding-bottom: 94px;
}
.container-comand 
{
width: 1200px;    
margin-right: auto;
margin-left: auto;
padding-top: 0px;
padding-right: 15px;
padding-left: 15px;
}
.secondtitle-comand {
    margin: 0px;
    margin-bottom: 50px;
}
.comand-list {
    display: flex;
    margin: 0px;
    padding: 0px;
    
}
.comand-image {
    display: block;
}
.comand-item {
    display: block;
    margin-right: 30px;
}
.comand-item:last-child {
    margin-right: 0px;
}
.comand-general {
    padding-top: 30px;
    padding-bottom: 30px;
    margin:0px;
}
.comand-subtitle {
    margin-bottom: 0px;
}
.comand-text {
    margin-top: 10px;
    margin-bottom:16px;
}

/* container-footer html portfolio*/
.footer {
    padding-top: 60px;
    padding-bottom: 60px;
}
.container-footer {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.footer-addresstext {
    margin-top: 20px;
    margin-bottom: 9px;
}
.footer-list {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: block;  
    margin-bottom: 9px;
}

/* portfolio blocks*/
.main-container {
    display: block;
}
.container {
 width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.main {
   padding: 94px 0px;  
}
.button-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 0px;
    padding-left: 0px;
}
.button-list-top:last-child {
margin-right: 0px;
}
.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}
.main-item {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 30px;
  margin-bottom: 30px;
  width: 370px;
  border: 1px solid ;
   border-color: #EEEEEE;
}
.main-item:nth-child(3n) {
    margin-right:0px;}
.main-item:nth-last-child(-n+3){
    margin-bottom: 0px;
}    

.container-text {
   padding:20px 24px;
}
.main-title {
    margin-bottom: 4px;
}
.main-text {
    margin: 0px 0px;
}
.button-first {
    margin-right: 8px;
 padding: 6px 22px;         
    }    
.button-scnd {
margin-right: 8px;
padding: 6px 22px;
        }
.button-thd {
        margin-right: 8px;
padding: 6px 22px;
 }
 .button-four {
margin-right: 8px;
 padding: 6px 22px;   
    }
.button-five {
margin-right: 0px;
padding: 6px 22px;
}

          /*Начертание лінії  */
.header {
    border-bottom: 1px solid;
    color: #ececec;
} 
/* Модуль 4  */
.efectdecision {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 4px 4px 0px #00000040;
}
/* Постоянные клиенты */
.regular-clients {
    display: flex;
    padding-top: 94px;
    padding-bottom: 94px;
}
.container-regularclients {
    width: 1200px;    
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;}
.secondtitle {
        font-family: var(--main-font);
        font-size: 36px;
        font-weight: 700;
        line-height: 1.16;
        letter-spacing: 0.03em;
        text-align: center;
        color:var(--primary-color) ;
        }
.clients {
    display: flex;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    
}
.clients-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;

}
.clients-item {
    margin-right: 30px;
    display: flex;
    list-style-type: none; 
}
.clients-item:last-child {
        margin-right:0px;
}
.clients-list {
    border: 1px solid #AFB1B8 ;
    border-radius: 4px;
    transition: fill 250ms var(--animation), border 250ms var(--animation);
} 
.clients-icon {
    fill: #AFB1B8;
    background-position: center;
    background-repeat: no-repeat;
    transition: fill 250ms var(--animation);
} 
 .clients-list:hover,
.clients-list:focus {
    border: 1px solid var(--accent-color);
}

.clients-list:hover .clients-icon,
.clients-list:focus .clients-icon {
    fill: var(--accent-color);
}
      /*icons with hover our team  */
.comand-general {
    background-color: #ffffff;
}
.icon-comand {
        display: flex;
        list-style-type: none;
        padding-left: 0px;
        justify-content: center;
}
.comand-icon {
    transition: fill 250ms var(--animation);
}
.icon-comandlist {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color 250ms var(--animation), fill 250ms var(--animation);
}
.icon-comandlist:hover .comand-icon,
.icon-comandlist:focus .comand-icon {
    fill: #ffffff;       
}
.icon-comandlist:hover,
.icon-comandlist:focus {
    background-color: #2196F3;
}
.icon-comandlist {
    fill: #AFB1B8;
}
 .icon-comanditem {
    list-style-type: none;
  display: flex;
  padding-left: 0;
  justify-content: center;
}
.icon-comanditem:not(:last-child) {
    margin-right:10px; 
}
.comand-item {
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 4px;
}
 
       /*icon with hover footer  */
.container-footer {
    align-items: baseline;
    display: flex;
}
.container-footeradress {
    margin-right: 70px;
}
.footer-title {
    font-family: var(--main-font);
    font-weight: 700px;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--white-text);
    margin-top: 0px;
    display: flex;
    margin-bottom: 20px;
}
.footer-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px;
        padding: 0px;
        list-style-type: none;
    }
.icon-footerlist {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255, 10%);
  background-repeat: no-repeat;
  background-position: center;
  transition: background-color 250ms var(--animation);
    }
.icon-footerlist:hover,
.icon-footerlist:focus {background-color: var(--accent-color);
}
   .icon-footeritem:not(:last-child)  {
       margin-right:10px;
   }
   .icon-infooter {
       fill: var(--white-text);
       background-position: center;
       background-repeat: no-repeat;
       transition: background-color 250ms var(--animation), fill 250ms var(--animation);
   }
   .icon-infooter:hover,
   .icon-infooter:focus 
   {
       background-color:#2196F3;
       fill: #ffffff;
    }
 
           
          /* icons quality without hover */
.quality-icon{
    width: 270px;
    height: 120px;
    background-color: #f5f4fa;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* icon with hover header */
.icon-mail,
.icon-tel {
    margin-right: 10px;
    fill: #757575;
}
.header-phone .icon-tel,
.header-mail .icon-mail {
    transition: fill 250ms var(--animation);
}
.header-phone:hover .icon-tel,
.header-phone:focus .icon-tel {
    fill: var(--accent-color);
}
.header-mail:hover .icon-mail,
.header-mail:focus .icon-mail {
    fill: var(--accent-color);

}

/* тінь при натисканні карточки на портфоліо */
img {
    display: block;
    max-width: 100%;
    height: auto;
  }
 .main-item {
    transition: box-shadow 250ms var(--animation);
 } 
.main-item:hover, 
.main-item:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
} 
/* Позиціонування */
.container-whatwedo {
    z-index: 10;
}
.position-actions {
    position: absolute;
    bottom: 0;
    left:0;
    width: 100%;
    height: 70px;
    background: #2F303ACC;
box-shadow: 0px 4px 4px 0px;
display: flex;
justify-content: center;   
}
.whatwedo-image {
    display: block;
    max-width: 100%;
    height: auto;
}
.position-img {
    position: relative;
}
.position-text {
 margin: 0px;
 padding: 0px;
 justify-content: center;
font-family: var(--main-font);
font-size: 14px;
font-weight: 700;
line-height: 1.14;
letter-spacing: 0.03em;
text-align: center;
color: var(--white-text);
padding-top: 27px;
padding-bottom: 27px;
}
.text-overlay{
    margin: 0;
}
/* позиціонування посиланн з підкресленням */

.nav-link {
    position: relative;
}
.current {
    transition: transform 250ms var(--animation), opacity 250ms var(--animation);;
}
.current:hover::after {
    transform: scale(1);
    opacity: 1;
}
.current::after {
    position:absolute;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: #2196F3;
    color: var(--accent-color);
}

/* Схований текст */
.portfolio-overlay {
    position:relative;
    overflow:hidden;
}
.portfolio-overlay:hover .text-overlay,
.portfolio-overlay:focus .text-overlay {
    transform: translateY(0);
}
.text-overlay {
    position:absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left:0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: var(--accent-color);
    display: flex;
    padding:63px 24px;
    font-family: var(--main-font);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5 ;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--white-text);   
}
/* модалка */
.backdrop {
  position:fixed;
  top: 0%; 
  left: 0%;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index:10;
  opacity: 1;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
  
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 250ms var(--animation);
    width: 528px;
    height: 581px;
    background-color:var(--white-text);
    padding: 40px;
}
.modal-btn {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    cursor: pointer;
    fill: #212121;
    background-color: var(--white-text);
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: border 250ms var(--animation), fill 250ms var(--animation), background-color 250ms var(--animation);
    
}
.modal-btn:hover, :focus {
    background-color: var(--white-text);
    fill: var(--accent-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
}
/*Modalka ba{ckground 6 */
.modal-text  
{   margin: 0px;
    margin-bottom: 12px;
    font-family: var(--main-font);
    font-size: 20px;
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;   
}
.label-field {
    display: flex;
    cursor: pointer;
    font-size: 12px;
}
.close  {
    display: flex;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding: 10px 56px;
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.06em;
    text-align: center;

    background-color: var(--accent-color);
    color: var(--white-text);
    cursor: pointer;  
}
.submite-modaleposition {
position: relative;
}
.container-fieldmod {
    position: relative;
  display: flex;
  flex-direction: column;
    margin: 0;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    transition: border-color 250ms var(--animation);
    margin-bottom: 4px;
}
.container-fieldmod:last-child {
    margin-bottom: 0px;
}

.container-fieldmod input { margin: 0;
padding: 11px;
padding-left: 42px;
box-sizing: border-box;
border-radius: 4px;
margin: 0px;

transition: border-color 250ms var(--animation); }


.label-field {
display: flex;
cursor: pointer;
color: var(--color-text);
margin-bottom: 4px;
}
.input-field {
    width:100%;
    height: 40px;
    border: none;
    cursor: pointer;
}
.input-field:hover, :focus-within {
border-color: #2196F3;
fill: #2196F3;
}
.container-fieldmod:hover, :focus-within {
border-color: #2196F3;
}
.input-field:hover + .modicon, 
.input-field:focus + .modicon {
  fill: var(--accent-color);
}
.input-field {
    outline: none;
}
.modicon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    display: inline-block;
    width: 18px;
    height: 18px;
    transition: fill 250ms var(--animation);
    fill: #212121;
}

.modicon:hover,:focus-within {
    fill: var(--accent-color);
}


.comment-field {
  margin: 0px;
  resize: none;
  padding: 12px 16px;
  cursor: pointer;
  border: 1px solid rgba(33, 33, 33, 0.2);
}
.input-fiel {
    position: absolute;
    appearance: none;
}
.modicons {
    position: absolute;
    left: -36px;
    width: 16px;
    height: 15px;
    border: 2px solid #2a2a2a;
    border-radius: 4px;
    fill: var(--white-text);
    margin-left: 12px;
}
.input-fiel:checked ~ .modicons {
        fill: var(--white-text);
        border-color:var(--accent-color);
        background-color: var(--accent-color);
        background-origin :border-box;
        background-size :contain;
    }
.container-fieldmod-checkbox {
        display: flex;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 30px;
    }
.hero-form-link {
    margin-left: 4px;
    color: var(--accent-color);
    text-decoration: underline;
    cursor: pointer;
    font-size: 14px;
}
.container-fieldmod-checkbox .checkbox-lable {
position: relative;
    margin-left: 36px;
    display: flex;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--color-text);}


/* Module 6 elements of forms */
.container-subscribe {
    display: flex;
    margin-left: 93px;
    padding: 0px;
}
.dispatch-title {
    font-family: var(--main-font);
    font-weight: 700px;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--white-text);
    margin-top: 0px;
    display: flex;
    margin-bottom: 20px;
    text-transform: uppercase;
    display: flex;
}
  
.subscribe-up {
    display: flex;
    align-items: center;
    margin-top: 20px;
}   
.subscribe-up input {
    padding: 15px 16px;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: #2F303A;
    color: var(--white-text);
} 
.icon-send {
    margin-left: 10px;
    fill: var(--white-text);
    
}
.btn-subscription {
    display: inline-flex;
    align-items: center;
    margin-left: 12px;
    padding: 8px 29px;
    text-align: center;
    font-family: var(--main-font);
font-size: 16px;
font-weight: 700;
line-height: 1.87;
letter-spacing: 0.06em;
text-align: center;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
background-color: var(--accent-color);
    color: var(--white-text);
    cursor:pointer;}
.span-subscribe {
    display: flex;
}